/* ************************ */
/* LOGIN SECTION */
/* ************************ */

.section-login {
    background-color: #ff6b4a;
    height: 110vh;
}

.box,
.btn--form,
.login-form input {
    border-radius: 0.2rem;
}

.box {
    width: 42.4rem;
    padding: 2.4rem;
    background-color: #ffffff;
    border: 1px soild #000000;
}

.box h2 {
    color: #333;
    font-size: 2.4rem;
    line-height: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 2.4rem;
    gap: 0;
}

.box div {
    margin-bottom: 1.5rem;
}

.box div:last-child {
    margin-bottom: 0;
}

.login-form div {
    margin-bottom: 2.4rem;
}

.login-form div,
.btn--form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.login-form label {
    color: #000000;
    padding-right: 0.5rem;
    margin-bottom: 0.8rem;
    font-size: 1.4rem;
    line-height: 1.4rem;
    letter-spacing: 0.05rem;
}

.login-form label span {
    color: #ff6b4a;
}

.btn--form,
.login-form input {
    height: 4rem;
}

.login-form input::placeholder {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.1rem;
}

.login-form input {
    background-color: inherit;
    padding: 0.5rem 0.75rem;
    line-height: 1.5rem;
    border: 1px solid #d6d6d6;
}

.login-form input:focus {
    border: 2px solid#ff6b4a;
}

.btn--form {
    background-color: #ff6b4a;
    padding: 0 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
}

.box p,
.box a,
.sign-up-link {
    text-align: center;
}

.box a,
.sign-up-link {
    font-size: 1.3rem;
}

.box a:link,
.box a:visited {
    color: #47a8bd;
    text-decoration: none;
}

.box a:hover,
.box a:active {
    text-decoration: underline;
}

.sign-up-link,
.sign-up-link a {
    color: #000000;
}

.sign-up-link {
    padding: 2.4rem 0 6.4rem 0;
    line-height: 1.25rem;
}

.sign-up-link a:link,
.sign-up-link a:active {
    color: #000000;
}

/* ************************ */
/* FOOTER */
/* ************************ */

.footer {
    background-color: #000000;
    padding: 4rem 4rem;
    height: 65vh;
}

.footer--top {
    padding-bottom: 4.8rem;
    border-bottom: 1px solid #91919165;
}

.footer--bottom {
    padding-top: 4.8rem;
}

.newsletter {
    grid-column: 5 / -1;
}
.footer-nav {
    display: flex;
    list-style: none;
}

.footer-heading,
.footer-link,
.footer-nav p,
.copyright,
.terms-privacy {
    font-size: 1.38rem;
    font-weight: 500;
}

.footer-heading,
.footer-link,
.footer-nav p,
.terms-privacy {
    line-height: 2.5rem;
}

.footer-heading {
    color: #666666;
}

.footer-link,
.footer-nav p,
.footer-btn,
.copyright,
.socials-icon,
.terms-privacy a {
    color: #ffffff;
    word-spacing: 0.5rem;
}

.footer-link a:link,
.footer-lin a:visited,
.terms-privacy a:link,
.terms-privacy a:visited {
    text-decoration: none;
    letter-spacing: 0.1rem;
}

.footer-link a:hover,
.footer-link a:active,
.terms-privacy a:hover,
.terms-privacy a:active {
    text-decoration: underline;
}

.footer-nav p {
    padding-bottom: 4.8rem;
}

.btn--arrow {
    height: 1.28rem;
    width: 1.28rem;
}

.footer-btn {
    font-size: 1.4rem;
    line-height: 3.8rem;
    letter-spacing: 0.1rem;
    background-color: #000000;
    padding: 0 1.6rem;
    border-radius: none;
    border-radius: 0.2rem;
    cursor: pointer;
    border: 1px solid #666666d5;
    transition: all 0.3s;
}

.footer-btn:hover,
.footer-btn:active {
    background-color: #222222;
}

.copyright {
    line-height: 2rem;
}

.copyright-sign {
    font-size: 1rem;
}

.socials {
    grid-column: 2 / -2;
}

.socials a,
.terms {
    margin-right: 1.6rem;
}

.socials-icon {
    width: 2.6rem;
    height: 2.6rem;
}

.terms-privacy {
    justify-self: flex-end;
}

/* ************************ */
/* FORGOT PASSWORD SECTION */
/* ************************ */

.section-reset {
    background-color: #ff6b4a;
    height: 80vh;
}
